<h2>SouthWest Data Out of Denver</h2>

<ul>
<% @flights.each do |flight| %>
  <ol>Flight Num: <%= flight.flight_number %>: Flight ID: <%= flight.flight_id %>: <%= flight.delays %>: </ol>
  <% end %>
</ul>
