---
http_interactions:
- request:
    method: get
    uri: https://api.flightstats.com/flex/flightstatus/rest/v2/json/airport/status/DEN/dep/2015/11/16/16?appId=67ccf356&appKey=c18b17448e980aded62ad66fd5d72244&carrier=WN&numHours=6&utc=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"request":{"airport":{"requestedCode":"DEN","fsCode":"DEN"},"carrier":{"requestedCode":"WN","fsCode":"WN"},"date":{"year":"2015","month":"11","day":"16","interpreted":"2015-11-16"},"hourOfDay":{"requested":"16","interpreted":16},"numHours":{"requested":"6","interpreted":6},"utc":{"requested":"false","interpreted":false},"codeType":{},"maxFlights":{},"extendedOptions":{},"url":"https://api.flightstats.com/flex/flightstatus/rest/v2/json/airport/status/DEN/dep/2015/11/16/16"},"appendix":{"airlines":[{"fs":"WN","iata":"WN","icao":"SWA","name":"Southwest
        Airlines","phoneNumber":"1-800-435-9792","active":true}],"airports":[{"fs":"JAX","iata":"JAX","icao":"KJAX","faa":"JAX","name":"Jacksonville
        International Airport","street1":"2400 Yankee Clipper Drive","city":"Jacksonville","cityCode":"JAX","stateCode":"FL","postalCode":"32218","countryCode":"US","countryName":"United
        States","regionName":"North America","timeZoneRegionName":"America/New_York","weatherZone":"FLZ025","localTime":"2015-11-17T16:52:44.249","utcOffsetHours":-5.0,"latitude":30.491254,"longitude":-81.683053,"elevationFeet":19,"classification":2,"active":true,"delayIndexUrl":"https://api.flightstats.com/flex/delayindex/rest/v1/json/airports/JAX?codeType=fs","weatherUrl":"https://api.flightstats.com/flex/weather/rest/v1/json/all/JAX?codeType=fs"},{"fs":"LAX","iata":"LAX","icao":"KLAX","faa":"LAX","name":"Los
        Angeles International Airport","street1":"One World Way","street2":"","city":"Los
        Angeles","cityCode":"LAX","stateCode":"CA","postalCode":"90045-5803","countryCode":"US","countryName":"United
        States","regionName":"North America","timeZoneRegionName":"America/Los_Angeles","weatherZone":"CAZ041","localTime":"2015-11-17T13:52:44.254","utcOffsetHours":-8.0,"latitude":33.943399,"longitude":-118.408279,"elevationFeet":126,"classification":1,"active":true,"delayIndexUrl":"https://api.flightstats.com/flex/delayindex/rest/v1/json/airports/LAX?codeType=fs[...]
