---
http_interactions:
- request:
    method: get
    uri: https://api.flightstats.com/flex/delayindex/rest/v1/json/airports/DEN?appId=67ccf356&appKey=c18b17448e980aded62ad66fd5d72244
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"request":{"airportCodes":[{"requestedCode":"DEN","fsCode":"DEN"}],"codeType":{},"url":"https://api.flightstats.com/flex/delayindex/rest/v1/json/airports/DEN","classification":{},"score":{}},"delayIndexes":[{"airport":{"fs":"DEN","iata":"DEN","icao":"KDEN","faa":"DEN","name":"Denver
        International Airport","street1":"8500 Pena Boulevard","city":"Denver","cityCode":"DEN","stateCode":"CO","postalCode":"80249-6340","countryCode":"US","countryName":"United
        States","regionName":"North America","timeZoneRegionName":"America/Denver","weatherZone":"COZ040","localTime":"2015-11-18T14:19:00.563","utcOffsetHours":-7.0,"latitude":39.851382,"longitude":-104.673098,"elevationFeet":5389,"classification":1,"active":true,"weatherUrl":"https://api.flightstats.com/flex/weather/rest/v1/json/all/DEN?codeType=fs"},"rawScore":177.8,"normalizedScore":5.0,"dateStart":"2015-11-18T20:00:00.000Z","dateEnd":"2015-11-18T23:00:00.000Z","flights":135,"observations":132,"canceled":1,"onTime":73,"delayed15":13,"delayed30":4,"delayed45":41,"delta":0.0}]}'
  recorded_at: Tue, 17 Nov 2015 06:00:00 GMT
recorded_with: VCR 2.9.3
