@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700|Open+Sans:700);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {outline: none !important;
}
html{
	background:#fff;
}
body{
	font-family: 'Roboto', 'sans-serif';
}
.headerLine{
	position: relative;
	width: 100%;
	overflow: hidden;
	height:100%;
	background: image-url("airport.jpg") center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.headerLine:after{
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom: 150px solid white;
	border-left: 3000px solid transparent;
}
.logo{
	margin-top: 55px;
	font-family: 'Roboto', 'sans-serif';
	font-size:20px;
	font-weight:200;
	text-transform:uppercase;
	color:#000;
}
.logo span{
	color:#1fcdff;
}
.logo p{
	letter-spacing: 0.5px;
	margin-top: -10px;
	font-family: 'Roboto', 'sans-serif';
	font-size:12px;
	font-weight:300;
	text-transform:lowercase;
}
.logo a{
	cursor:pointer;
	color:#918E8A
;
	text-decoration:none;
}

.logo h2{
	// border-bottom:4px solid #1fcdff;
	font-family: 'Open Sans', sans-serif;
	font-size:45px;
	font-weight:700;
	letter-spacing: -2px;
	color: black;
}

#welcome_to {
	margin-left: 180px;
}

#plane_blame {
	margin-left: 50px;
}

// AutoComplete Search Field
@media screen and (max-width: 1680px) {
	.ui-autocomplete {
		left:350px !important;
	}

}

@media screen and (max-width: 1440px) {
	.ui-autocomplete {
		left:295px !important;
	}

}

@media screen and (max-width: 1280px) {
	.ui-autocomplete {
		left:255px !important;
	}

}

@media screen and (max-width: 1000px) {
	.ui-autocomplete {
		left:195px !important;
	}

}

@media screen and (max-width: 900px) {
	.ui-autocomplete {
		left:170px !important;
	}

}

// @media screen and (max-width: 845px) {
// 	.ui-autocomplete {
// 		width:auto !important;
// 		left:170px !important;
// 	}

// 	.drop_airport {
// 		width: 884px;
// 	}

// }

// @media screen and (max-width: 768px) {
// 	.ui-autocomplete {
// 		left:100px !important;
// 	}
// }


// Front Page Styling
.gauge {
	align: center;
  width: auto;
  height: 150px;
}

.drop_airport {
	font-size: 16px;
	border: 1px solid #ccc;
	background: #fff;
	padding: 7px;
	margin-right: 100px;
	width: 50%;
}

.activetrigger:hover {
	color: #777;
}

#menu a:active {
color:#1fcdff;
}
#menu select {
display: none;
}

#menu .active a {
border:0;
color:#1fcdff;
}
#menu .active a:focus{
	outline: none;
border: none;
}
#menu .active a:active {
	outline: none;
border: none;;
}
#menu .active a:link {
	outline: none;
border: none;
}
#menu .active a:visited  {
	outline: none;
border: none;
}
#menu li{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
	border-right:1px solid #000;
	padding-left: 17px;
	padding-right: 16px;
	float:left;
	font-family: 'Roboto', 'sans-serif';
	font-size:14px;
	color:#fff;
	list-style:none;
	text-transform:uppercase;
	font-weight:700;
}
#menu li:last-child{
	border-right:0;
	padding-right:0px;
}
#menu{
	//margin-top: 33px;
	margin-top: 74px;
	float: right;
}
#menu li a{

	text-decoration:none;
}
#menu li a:hover{
	border:none;
	outline:none;
	color:#1fcdff;
}
.gallery {
	height:500px;
}

.slicknav_menu {
	display:none;
}

.disclaimer{
	padding-top:10px;
	text-align: center;
}

#loaderImg{
	text-align: center;
}

#footer {
	text-align:center;
}

@media screen and (max-width: 991px) {
	.news p{
		text-align: center;
	}
	.news div{
		text-align:center;
	}
	.news img{
		display:inline;
	}
	.pic1Ab{
		margin-bottom:0 !important;
	}
	.pic2Ab{
		margin-bottom:0 !important;
	}
	#menu {
		display:none;
	}
	#menuF{
		opacity:0 !important;
		/*display:none !important;*/
	}
	.fixed{
		opacity:0;
		//display:none;
	}

	 .slicknav_menu {
		display:block;
	}
	.about p{
		text-align: justify;
	}

}
@media screen and (max-width: 1229px){
	.pic1Ab{
		margin-bottom:50px ;
	}
	.pic2Ab{
		margin-bottom:20px ;
	}

	.logo h2{
		// border-bottom:4px solid #1fcdff;
		font-family: 'Open Sans', sans-serif;
		font-size:37px;
		font-weight:700;
		letter-spacing: -2px;
		color: black;
	}

	#welcome_to{
		margin-left:220px;
	}

}
@media screen and (max-width: 460px) {
	.pic2Ab{
		padding-bottom:0 !important;
		margin-bottom:0;
	}
	.pic1Ab{
		padding-bottom:0 !important;
		margin-bottom:0;
	}
	.camera_caption h2{
		font-size: 65px;
	}
	.about h3{
		text-align:center;
		margin-top:73px !important;
	}
	.about p{
		margin-top: 30px !important;
		text-align: justify;
	}
	.Ama {
	margin-top: 280px !important;
	margin-bottom: 100px !important;
}
	.soc ul li{
		margin-bottom: 20px;
	}

}
@media screen and (max-width: 323px){
	.footer .fEmail{
		border-radius: 4px !important;
		margin-bottom:10px ;
	}
	.footer .subS{
		border-radius: 4px !important;
	}
	.news p{
		text-align: justify;
	}


}
@media screen and (max-width: 1229px) {
	.cont {
		/*text-align:center;*/
		margin-left: 0px !important;
	}
	.name {
	width: 100% !important;
}
	.Email {
	width: 100% !important;
}
	.ftext .cBtn ul{
		padding-left:40px !important;
	}
	.news p{
		text-align:justify;
	}

}
.sl{
	height: 67px;
	position: absolute;
	width: 100%;
	top: 418px;
	background: url(../images/sliderL.png) no-repeat;
}

.project{
	background-color: white;
	text-align:center;
}
.project h3{
	letter-spacing: 1px;
	font-family: 'Roboto', 'sans-serif';
	font-size:37px;
	font-weight:400;
	color:#2f2f2f;
}
.project h4{
	margin-left: -5px;
	font-family: 'Roboto', 'sans-serif';
	font-size:20px;
	font-weight:300;
	color:#2f2f2f;
}
.project p{
	font-family: 'Roboto', 'sans-serif';
	font-size:13px;
	font-weight:300;
	margin-top: 16px;
	line-height: 23px;
	color:#666666;
}

.logo h2{
		// border-bottom:4px solid #1fcdff;
		font-family: 'Open Sans', sans-serif;
		font-size:37px;
		font-weight:700;
		letter-spacing: -2px;
		color: black;
	}

#welcome_to {
	margin-left:200px;
}

#stat_button {
	font-family: 'Roboto', 'sans-serif';
}

#on_time {
	text-align: right;
}

.cBusiness{
	margin-top: 25px;
}
.cBusiness h3{
	text-align:center;
	font-family: 'Roboto', 'sans-serif';
	font-size:28px;
	font-weight:400;
}
.cBusiness h4{
	margin-top: 16px;
	text-align:center;
	font-family: 'Roboto', 'sans-serif';
	font-size:16px;
	font-weight:300;
}


// Airline Circle Charts
.chart {
	margin: 0 auto;
	position: relative;
	width: 70px;
	height: 70px;
	text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
.angular {
  margin-top: 100px;
}
.angular .chart {
  margin-top: 0;
}
.chart span{
	margin-top: -19px;
	font-size:18px;
	color: #2f2f2f;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
}
.percent:after {
	content: '%';
	margin-left: 0.1em;
	font-size: .8em;
	font-size:18px;
	color: #2f2f2f;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
}
.chart sup{
	font-size:18px;
	color: #2f2f2f;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;

	top: 0px !important;
	left: 0px !important;
	margin-left: 1px;
}
.textP h3{
	margin-top: 22px;
	text-align:center;
	font-size:20px;
	color: #2f2f2f;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
.textP p{
	line-height: 23px;
	margin-top: 13px;
	text-align:center;
	font-size:13px;
	color: #2f2f2f;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
.bar{
	margin-top: 32px;
}

// Footer
.footer{
	margin-top: 40px;
	min-height:435px;
}
.footer h3{
	margin-top: 159px;
	font-size: 28px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 400;
	color: #fff;
	text-align: center;
	margin-bottom: 17px;
}
.footer p{
	font-size:16px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	color:#fff;
	text-align:center;
}
.footer .fEmail{
	float:left;
	font-size: 13px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	border: 0;
	background: #1c1c1c;
	color: #fff;
	padding: 11px;
	width: 350px;
	border-radius: 4px 0px 0px 4px;
	padding-left: 20px;
}
.footer .email{
	float:left;
}
.footer .subS{
	text-transform:uppercase;
	font-size: 13px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
	float: left;
	color: #fff;
	border-radius: 0 4px 4px 0;
	text-decoration: none;
	box-shadow: 0px 2px 0px 0px #179abf;
	background: #1fcdff;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
}
.fr{
	margin-top: 40px;
	text-align: center;
	//margin: 40px 0 0 357px;
}
.footer a:hover{
	background:#2f2f2f;
	box-shadow: 0px 2px 0px 0px #000 ;
}



@media screen and (max-width: 1190px){
	.horL {
		display:none;
	}

	.logo h2{
	// border-bottom:4px solid #1fcdff;
	font-family: 'Open Sans', sans-serif;
	font-size:35px;
	font-weight:700;
	letter-spacing: -2px;
	color: black;
	}

	#welcome_to{
		margin-left:160px;
	}
}


@media screen and (max-width: 991px){
	.copy p{
		text-align:center;
	}
	#downMenu ul li{
		float: none;
		text-align:center;
	}
	.downLine input{
		margin-top: 25px;
	}
	.footer .fEmail{
	float:left;
	//max-width: 350px;
	max-width: 163px;
	}
	#downMenu li a {
	padding: 5px;
}
	.team ul{
		margin-bottom: 35px;
	}
	.cont {
	margin-top: 124px;
	}
	.cBtn ul {
	margin-left: 0;
	}
	.line6 iframe{
		height:750px;
	}
	.line6{
		height:350px;
	}

	.logo h2{
		// border-bottom:4px solid #1fcdff;
		font-family: 'Open Sans', sans-serif;
		font-size:0px;
		font-weight:700;
		letter-spacing: -2px;
		color: black;
	}
}





















