<div class="lineBlack">
  <div class="container">
    <div class="row downLine">
      <div class="col-md-6 text-left copy">
        <p>Copyright &copy; 2015 PlaneBlame. All Rights Reserved.</p>
      </div>
      <div class="col-md-6 text-right dm">
        <ul id="downMenu">
          <li class="active"><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#project1">Projects</a></li>
          <li><a href="#news">News</a></li>
          <li class="last"><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>